body {
  /* background: url(../img/grey-background-ferrari.jpg); */
  /* no-repeat center center fixed; */
  background-size: cover;
  font-family: 'Asap Condensed', sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  /*border:1px solid black;*/
}

.title-box {
  font-weight: bolder;
  font-size: 40px;
  color: black;
  width: 250px;
  margin-left: 5px;
}

.title-box h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu-box a, .icon-box a {
  text-decoration: none;
  color: #4d4d4d;
  box-sizing: border-box;
  /*border:1px solid black;*/
}

.menu-box, .icon-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*border:1px solid red;*/
  width: 250px;
  font-size: 26px;
}

.nav-border {
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 5px;
}

/*.menu-box a:hover, .icon-box a:hover{*/

.nav-border:hover {
  border: 2px solid #4d4d4d;
  color: black;
}

.logo-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 600px;
  /* border: 2px solid green; */
}

.logo {
  border: 2px solid black;
  border-radius: 5px;
  margin: 15px;
}

.hoods a {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 26px;
}

.hoods {
  margin: 10px 0px;
  /*border: 1px solid green;*/
}

.hood-bar {
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-around;
}

.hood-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mock-box {
  /*background-color: red;*/
  width: 400px;
  height: 600px;
  margin: 20px;
  box-sizing: border-box;
}

.image-format {
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.buy-it-box {
  border: 2px solid black;
  border-radius: 5px;
}

.price-box {
  width: 100%;
  text-align: center;
  color: #4d4d4d;
  font-size: 26px;
  /*border: 2px solid yellow;*/
}

/****************** BUY BAR **************************/

.buy-bar {
  /*border: 2px solid green;*/
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li a, ul li li {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 20px;
  color: #4d4d4d;
}

ul li {
  color: black;
  float: left;
  width: 150px;
  height: 20px;
  /*background-color: gray;*/
  opacity: .8;
  text-align: center;
}

ul li a:hover {
  background-color: white;
  /*opacity: .2;*/
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  opacity: 1;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
  opacity: 1;
}

.box-for-drop-downs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 110px;
}

.box-for-button {
  width: 100%;
  height: 50px;
  /*border:2px solid yellow;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button {
  font-size: 26px;
  opacity: .5;
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.cart-button:hover {
  border: 2px solid black;
  opacity: 1;
}

.blog-box {
  /*display: flex;*/
  width: 100%;
  height: 700px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px, 15px;
}

.blog-describe {
  width: 100%;
  color: #4d4d4d;
  text-align: center;
  font-size: 26px;
  /*justify-content: space-around;*/
  margin: 20px;
}

.inline-link {
  color: black;
  /*text-decoration: none;*/
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.inline-link:hover {
  border: 2px solid #4d4d4d;
  color: black;
}

.horizontal-right-blog {
  width: 100%;
  height: 150px;
  display: flex;
  /*border: 2px solid green;*/
}

.silverlake {
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 5px;
}

.silvertext {
  margin: 5px;
}

.silvertext a {
  font-size: 18px;
  padding: 3px;
}

.silvertext p {
  margin: 5px;
}

.column-blogs {
  display: flex;
  /*justify-content: space-around;*/
}

.column-box1 {
  display: flex;
  /*background-color: red;*/
  width: 500px;
  height: 400px;
  margin: 20px;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  /*box-sizing: border-box;*/
}

.bboy {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 0;
}

.floater {
  text-align: center;
}

.column-box2 {
  display: flex;
  /*background-color: red;*/
  width: 500px;
  height: 400px;
  margin: 20px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.bio {
  width: 100%;
  height: 560px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 40px 0px;
}

.biopic {
  margin: 5px;
  border: 2px solid black;
  border-radius: 3px;
}

.biotext {
  font-size: 26px;
  margin: 20px;
}

.footer {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #4d4d4d;
}
